* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    user-select: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    overflow-x: hidden;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #F4F4F4;
}

/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    color: #333;
    font-size: 1.8rem;
    font-weight: 700;
}

.logo img {
    width: 58px;
    height: 55px;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    gap: 1px;
    font-family: sans-serif;
}

.nav-links li a {
    color: #333;
    font-size: 16px;
    padding: 70px 35px;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 3px;
    border-left: 1px solid #676b6f87;
}

.active {
    background-color: #ee5057;
    color: white;
}

.contactus {
    border-right: 1px solid #676b6f87;
}

.nav-links li a.active,
.nav-links li a:hover {
    background-color: #ee5057;
    color: white;
}


/* Hero Section */
.hero {
    background-image: url('bg-img-1.jpg');
    width:100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

.booking-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 900px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    margin-right: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ee5057;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn1{
    background-color: #ee5057;
    color: white;
    padding: 5px 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn1:hover {
    background-color: darkred;
}

.help {
    text-align: right;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.help a {
    text-decoration: none;
    color: #ee5057;
    font-size: 14px;
}

/* Help Section */

.form-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #ee5057;
}

.form-section h2 {
    margin: 20px 0;
    font-size: 40px;
    color: #fff;
}

.form-section p {
    margin-bottom: 30px;
    font-size: 20px;
    color: #fff;
}

.form-section form {
    display: inline-block;
}

.form-section button {
    padding: 10px 20px;
    background-color: #ee5057;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.form-section button:hover {
    background-color: darkred;
}

.container {
    padding: 50px 20px;
}

.articles-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; 
}

.article { 
    padding: 20px;
    border-radius: 5px;
    width: calc(30% - 20px);
    margin: 10px;
    text-align: center;  
}
.article i {
    color: #ee5057;
}

.article:hover {
    transform: scale(1.05);
}

.article h3 {
    margin: 15px 0;
    color: #ee5057;  
}
.article a { 
        color: #ff4a4a;
        text-decoration: none;
        font-weight: bold;
}

/* Carousel and Recommended Places Section */
.carousel-recommended {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 40px;
}

.carousel {
    flex: 4;
    margin-right: 20px;
    padding: 10px;
    background: #f9f9f9;
}



.carousel .articles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.carousel .article {
    width: 360px;
    margin: 0 10px;
    padding: 10px;
    background-color: whitesmoke;
    text-align: center;
    transition: transform 0.2s;
}


.video-container {
    padding: 20px;
    text-align: center;
}
.total{
    display: flex;
    flex-direction: row;
    width: 300px;
}

.carousel slide{
    height: 10px;
    width:10px;
}
.carousel-item active{
    height: 10px;
    width:10px;
}

.video-container video {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  
}

.city {
    display: flex;
    align-items: center;
    padding: 50px;
    background: url(bg-img-2.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    margin-left: 100px;
}

.city-text {
    flex: 1;
    text-align: left;
}

.city-text h2 {
    font-size: 3.5rem;
    color: #333;
}

.city-text p {
    font-size: 2.2rem;
    color: #ff4a4a;
}

/* Blog Entries Section */
.blog-entries {
    padding: 20px;
    background-color: #fff;
    max-width: 800px;;
    /* margin: 20px auto; */
    display: flex;
    flex-direction:column;
    /* grid-template-columns: repeat(1, 300px); */
    gap: 15px;
    margin-right: 80px;
}

.entry {
    padding: 15px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    display: flex;
    /* flex-direction: column; */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.entry img {
    /* width: 100%; */
    height: auto;
    border-radius: 5px;
}
.one{
    display:flex;
    flex-direction: column;
    margin: 5px;
}

.entry h3 {
    color: #ff4a4a;
    font-size: 1.2rem;
    margin-top: 10px;
}

.entry p {
    color: #666;
    font-size: 1rem;
    margin: 10px 0;
}

.entry a {
    color: #ff4a4a;
    text-decoration: none;
    font-weight: bold;
} 


/* Map and Contact Section */
.map-contact-section {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 20px;
    background-image: url(bg-img-3.jpg);
}

.map {
    flex: 1;
    margin-right: 70px; 
    min-width: 300px;
}

.contact-form {
    flex: 1;
    min-width: 300px;
    background-color: #fff; 
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    padding: 12px;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.send-btn{
font-size: small;
}
.contact-form button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 30px;
    margin-left: 30px;
    /* background-color: #ee5057; */
    cursor: pointer;
    background-color: #ee5057;
    color: white;
}
.mapswrapper {
    background: #fff;
    position: relative
}

.mapswrapper iframe {
    border: 0;
    position: relative;
    z-index: 2
}

.mapswrapper a {
    color: rgba(0, 0, 0, 0);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0
}
/* Footer */
footer {
    padding: 20px;
    text-align: center;
    background-color: #333;
    color: #ffffff;
}


@media (max-width: 768px) {

    .article,
    .asia-section article {
        width: calc(100% - 20px);
        
    }

    .map-contact-section {
        flex-direction: column;  
    }

    .map {
        margin-right: 0;
        margin-bottom: 20px; 
    }

    .subscribe-form {
        flex-direction: column;   
    }

    .subscribe-form input {
        width: 100%;
        margin-bottom: 10px;
    }
}